/* layout */
html, body { margin: 0; }

/* header */
.header { 
	width: 100%; 
	height: 235px; 
	text-align: center; }
.header .img_container { 
	position: relative;
	width: 1280px; 
	height: 235px; 
	margin: 0 auto; 
	background: rgba(0, 209, 255, 0.6); }

/* nav */
.nav { 
	height: 50px;
	text-align: center; }
.nav .menu_container {
	display: inline-block;
	height: 50px;
	width: 1280px; }
.nav .menu_container #menu { 
	list-style-type: none; 
	margin: 0 auto; 
	padding: 0; 
	background-color: #333; 
	overflow: hidden; }
.nav .menu_container #menu li {
	float: left;
	height: 50px;
	width: 256px; }
.nav .menu_container #menu li a {
	display: block;
	height: 50px;
	padding: 10px 16px;
	text-align: center;
	color: floralwhite;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none; }
#menu a:hover { background-color: #111; }
#active { background-color: #04AA6D; }

/* section */
.section { height: 690px; }

/* section article */
.section .article_container {
	position: relative;
	height: 500px;
	width: 1280px;
	margin: 0 auto;
	background: rgba(0, 209, 255, 0.1); }
.section .article_container #trailer {
	position: relative;
	display: inline-block;
	left: 80px;
	top: 46px;
	width: 850px; }
.section .article_container #time {
	position: relative;
	left: 950px;
	bottom: 405px;
	width: 300px; }
.section .article_container #time table { border-collapse: collapse; }
.section .article_container #time table td {
	height: 55px;
	width: 50px;
	border-bottom: 1px solid black;
	font-size: 18px;
	font-weight: 600;
	text-align: center; }
.section .article_container #time table .two {
	width: 250px;
	font-size: 14px;
	border-left: 1px solid black; }
.section .article_container #time table th { 
	height: 30px;
	border-bottom: 1px solid black;
	font-size: 14px;
	background-color: #333;
	color: floralwhite; }

/* movie list article */
.section .list_container {
	position: relative;
	height: 190px;
	width: 1280px;
	margin: 0 auto;
	background: rgba(0, 209, 255, 0.1); }
.section .list_container #list {
	position: relative;
	left: 95px; }
.section .list_container #list table { border-collapse: collapse; }
.section .list_container #list table th {
	height: 100px;
	width: 135px; }
.section .list_container #list table td {
	font-size: 16px;
	font-weight: 600;
	text-align: center; }
.section .list_container #list table td span {
	display: block;
	margin-left: 23px;
	padding: 5px;
	width: 80px;
	border-radius: 50px;
	background-color: #333;
}
.section .list_container #list table td span:hover { background-color: #111; }

/* footer */
.footer {
	width: 100%;
	height: 150px;
	text-align: left;}
.footer .info_container {
	position: relative;
	width: 1280px; 
	height: 150px; 
	margin: 0 auto; 
	background: rgba(0, 209, 255, 0.6); }
.footer .info_container span {
	display: block;
	margin-left: 30px;
	font-size: 14px; }
.footer .info_container #right { margin-left: 800px; }

/* hyperlink */
a { text-decoration: none; }
a:link { color: floralwhite; }
a:visited { color: floralwhite; }

img { border-radius: 10px; }
iframe { border-radius: 10px; }