/* section */
.section { height: 690px; }
.section .article_container {
	position: relative;
	height: 690px;
	width: 1280px;
	margin: 0 auto;
	background: rgba(0, 209, 255, 0.1); }

/* select article */

.section .article_container #select {
	float: left;
	height: 690px;
	width: 400px; }
#select .title {
	font-weight: 600;
	font-size: 1.1em;
	text-align: center; }
.select_border fieldset{
	border: 1px solid rgba(0, 0, 0, 0.4);
	background: rgba(0, 209, 255, 0.2);
	border-radius: 15px;
	font-size: 1.1em; }
.submit {
	background-color: #333;
	color: floralwhite;
	border: none;
	border-radius: 10px;
	padding: 3px 20px;
	margin: 3px 0px 3px 280px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer; }
.submit:hover{ background-color: #111; }
#dateWindow { 
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 15px; }
input[type=number]{ 
	border-radius: 5px;
	width: 75px; }
input[type=number]:focus { 
	background-color: aliceblue;
	transform: scale(1.2); }
#total_price{
	display: inline-block;
	position: relative;
	left: 20px; }
#dateButton { visibility: hidden; }
#timeButton { visibility: hidden; }
#customerButton { visibility: hidden; }

/* theater article */
.section .article_container #theater {
	float: left;
	height: 595px;
	width: 880px; }
.section .article_container #theater #theater_container {
	position: relative;
	top: 43px;
	left: 40px;
	height: 550px;
	width: 800px;
	padding: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);
	filter: blur(4px);
	border: none;
	border-radius: 10px; }