form {
	font-size: 1.1em; }
#timeWindow {
	position: relative;
	left: -10px;
	border: none; }
.submit {
	background-color: #333;
	color: floralwhite;
	border: none;
	border-radius: 10px;
	padding: 3px 20px;
	margin: 3px 0px 3px 270px;
	font-size: 16px;
	cursor: pointer; }
.submit:hover{ background-color: #111; }