body { margin: 0; }
.seat {
	display: inline-block;
 	background-color: #444451;
 	height: 50px;
 	width: 50px;
	margin: 3px;
 	border-radius: 10px; }
.seat span{
	position: relative;
	font-weight: 600;
	color: black;
	top: 14px; }
.seat.selected { background: rgba(4, 170, 109, 0.8); }
.seat.not_able { background-color: palevioletred; }
.seat:nth-of-type(3) { margin-right: 40px; }
.seat:nth-last-of-type(3) { margin-left: 40px; }
.seat:not(.not_able):hover {
	cursor: pointer;
	transform: scale(1.2); }
.guide .seat:not(.not_able):hover {
 	cursor: default;
 	transform: scale(1); }
.row { text-align: center; }
.screen {
	display: inline-block;
 	height: 100px;
 	width: 80%;
 	margin: 15px 0 10px 0;
 	background-color: #fff;
 	transform: rotateX(-45deg);
 	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75); }
.guide {
	list-style-type: none;
	position: relative;
	height: 100px;
	width: 300px;
	margin: 10px auto; 
	padding: 0;
  	border-radius: 10px;
  	color: floralwhite;
  	font-weight: 600;
  	background-color: rgba(203, 203, 203, 0.15);
  	overflow: hidden; }
.guide li {
	float: left;
	margin-top: 10px;
	height: 100px;
	width: 100px; }
#final {
	position: relative;
	bottom: 90px;
	left: 170px;
	padding: 5px 42px;
	margin: 3px 0px 3px 280px;
	background-color: #333;
	color: floralwhite;
	border: none;
	border-radius: 10px;
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
	visibility: hidden; }

#reset {
	position: relative;
	bottom: 90px;
	left: 170px;
	padding: 5px 30px;
	margin: 3px 0px 3px 280px;
	background-color: #333;
	color: floralwhite;
	border: none;
	border-radius: 10px;
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
}